<h1>Latest Anime News!</h1>

<p>Where Otaku's do stuff?..</p>
<ul>
  {{#each article}}
  	<li>
      <p></p>
  		<p><span data-id={{this._id}} class="label"><h1>{{this.title}}</h1></span></p>
      <p><span class="label"><h2>{{this.subTitle}}</h2></span></p>
      <p><span class="label">{{this.content}}</span></p>
      <p><span class="label">{{this.author}}</span></p>
      <button data-id="{{this._id}}" class="delquote">Delete</button>
      <a href="/{{this._id}}">Update this quote</a>
  	</li>
  {{/each}} 
</ul>

<script src="/assets/js/app.js"></script>